@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Basic style implemented back in Milestone 1 */

body {
    font-family: Roboto, Segoe UI, Verdana, Geneva, Tahoma, sans-serif;
}

ul[class="nav"]{
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #383e4d;
}

.nav > li {
    float: left;
}

.nav > li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav > li a:hover {
    background-color: #515768;
}

input, select {
    width: 500;
    padding: 12px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25;
    display: block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

label {
    width: 500;
    padding-top: 20;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20;
    display: block;
    box-sizing: border-box;
    font-size: 0.9em;
}

input[type=submit] {
    width: 500;
    background-color: #3959b1;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
